**/pgadmin_postgres/
**/pokemon-app/
**/docker_file/docker_compose_build/teslo-shop/
**/docker_file/cron_ticket/
**/construccion_automaticas/
**/nest_graphql/
**/.env

# compiled output
/dist
/node_modules
/pgadmin_postgres
/pokemon-app
/nest_graphql
/construccion_automaticas
/docker_file/docker_compose_build/teslo-shop


# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/dist/
**/node_modules/