**/pgadmin_postgress/
**/pokemon-app/
**/docker_file/deploy_and_register/teslo-shop-testing/
**/docker_file/cron_ticket/
**/nest_graphql/
**/.env

# compiled output
/dist
/node_modules
/pgadmin_postgress
/pokemon-app
/nest_graphql
/docker_file/deploy_and_register


# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/dist/
**/node_modules/